.peg, .pending, .selection {
	border: 3px solid black;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	display: inline-block;
}

.key {
	border: 3px solid black;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	display: inline-block;
}

.black {
	background-color: black;
}

.grey {
	background-color: grey;
}

.A {
	background-color: red;
}

.B {
	background-color: teal;
}

.C {
	background-color: yellow;
}

.D {
	background-color: green;
}

.E {
	background-color: blue
}

.F {
	background-color: indigo;
}

.G {
	background-color: magenta;
}

.H {
	background-color: brown;
}